body {
    background-color: rgb(101, 101, 101);
    text-align: center;
}
.img {
    height: 300px;
    width: 600px;
}
.card1 {
    background-color: white;
    padding-bottom: 5px;
    position: absolute;
    margin-left: 100px;

}
.card2 {
    margin-left: 730px;
    background-color: white;
    position: absolute;
    padding-bottom: 5px;
    
    
}
.card3 {
    margin-left: 100px;
    margin-top: 400px;
    background-color: white;
    position: absolute;
    padding-bottom: 5px;
}
.card4 {
    margin-left: 730px;
    margin-top: 400px;
    background-color: white;
    position: absolute;
    padding-bottom: 5px;
}